@model MovieUpdateDTO
<h1>Edit Movie</h1>
<hr />
<form method="post" asp-action="Edit" asp-controller="Movies">
    <div class="form-group">
        <label asp-for="MovieTitle"></label>
        <input type="hidden" asp-for="MovieId" value="@Model.MovieId" />
        <input asp-for="MovieTitle" class="form-control" value="@Model.MovieTitle" />
    </div>
    <div class="form-group">
        <label asp-for="MovieDescription"></label>
        <textarea asp-for="MovieDescription" class="form-control">@Model.MovieDescription</textarea>
    </div>
    <div class="form-group">
        <label asp-for="MovieAbout"></label>
        <textarea asp-for="MovieAbout" class="form-control">@Model.MovieAbout</textarea>
    </div>
    <div class="form-group">
        <label asp-for="MovieImage"></label>
        <input asp-for="MovieImage" class="form-control" value="@Model.MovieImage" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <div class="col-md-4">
        @foreach (var item in (List<CategoryListDTO>)ViewBag.Categories)
        {
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       name="categoryId"
                       value="@item.CategoryId"
                       id="category_@(item.CategoryId)" @(Model.Categories.Any(i => i.CategoryId == item.CategoryId) ? "checked" : "") />
                <label class="form-check-label" for="category_@(item.CategoryId)">
                    @item.Name
                </label>
            </div>
        }
    </div>
</form>
