@model IEnumerable<CategoryListDTO>
<h1>Admin Category List</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width:30px;">#</th>
            <th>Name</th>
            <th style="width:70px;">Count</th>
            <th style="width:160px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.Name</td>
            <td>@item.Movies.Count</td>
            <td>
                <a asp-action="CategoryUpdate" asp-controller="Category" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm">Update</a>
                <a asp-controller="Category" asp-action="CategoryDeleteConfirmed" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm"> Delete </a>
            </td>
        </tr>
        }
    </tbody>
</table> 
