@model IEnumerable<MovieListDTO>

<h1>Admin Movie List</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width:30px">#</th>
            <th style="width:100px">Image</th>
            <th>Title</th>
            <th style="width:70px">Categories</th>
            <th style="width:70px">Rating</th>
            <th style="width:160px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.MovieId</td>
            <td>
                <img src="/img/@movie.MovieImage" alt="@movie.MovieTitle" width="100">
            </td>
            <td>@movie.MovieTitle</td>
            <td>
                <ul>
                    @foreach (var item in movie.Categories)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
            </td>
            <td>
                <a asp-controller="Admin" asp-action="Update" asp-route-id="@movie.MovieId" class="btn btn-primary btn-sm"> Update </a>
                <a asp-controller="Admin" asp-action="Delete" asp-route-id="@movie.MovieId" class="btn btn-danger btn-sm"> Delete </a>
                <a asp-controller="Admin" asp-action="Add" class="btn btn-warning btn-sm"> Add </a>
            </td>
        </tr>
        }
    </tbody>
</table>